<div class="cover cover-hed">
  <img src="{{ cover_asset }}" />

  <header>
    <h1 id="headline">{{ headline }}</h1>
    <if condition="typeof deck !== 'undefined'">
      <p class="deck">{{ deck }}</p>
    </if>
    <p class="byline">{{{ byline }}}</p>
    <!-- To add more bylines, add this here & on google doc
      <p class="byline">{{{ byline2 }}}</p> 
    -->
    <p class="pub-date">{{ date }}</p>
  </header>
</div>

<p class="cover-caption">{{ cover_caption }}</p>

<div class="g-body">
  <p class="inline-credits">
    <each
      loop="item in typeof credits === 'undefined' ? [] : credits.split('\n')"
    >
      <span>{{{ item }}}</span>
    </each>
  </p>
</div>
