/* Declaring variables */

$georgia: Georgia, serif;
$graphik: Graphik, helvetica, arial, sans-serif;

$gbody-width: 600px;
$gbody-padding: 20px;

$navbar-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);
$navbar-height: 48px;

$fade-transition-duration: 0.25s;

/* Load fonts */

@font-face {
  font-family: Georgia;
  src: url('https://spectator-fonts.s3.amazonaws.com/Georgia.ttf')
    format('truetype');
}

@font-face {
  font-family: Georgia;
  src: url('https://spectator-fonts.s3.amazonaws.com/Georgia+Italic.ttf')
    format('truetype');
  font-style: italic;
}

@font-face {
  font-family: Georgia;
  src: url('https://spectator-fonts.s3.amazonaws.com/Georgia+Bold.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Graphik;
  src: url('https://spectator-fonts.s3.amazonaws.com/Graphik-400-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: Graphik;
  src: url('https://spectator-fonts.s3.amazonaws.com/Graphik-600-Semibold.otf')
    format('opentype');
  font-weight: 600;
}

/* Basic styles for elements and common Spectate classes */

body {
  margin: 0;
}

h1,
p {
  -webkit-font-smoothing: antialiased;
  color: #121212;
}

a {
  color: #337ab7;
  text-decoration: none;

  &[href^="mailto:"] {
    word-wrap: break-word;
  }
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

b {
  font-weight: 700;
}

.g-body {
  max-width: $gbody-width;
  width: calc(100% - #{2 * $gbody-padding});
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  margin-bottom: 20px;
  font-family: $georgia;
  font-size: 19px;
  line-height: 1.63;
}

.subhed {
  margin: 40px auto 20px;
  font-family: $georgia;
  font-size: 23px;
  line-height: 1.63;
  font-weight: bold;
}

/* Styling the cover and cover-hed */

.cover {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cover-hed {
  margin-bottom: 0;

  header {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 700px;
    color: #fff;
    transform: translateY(-150%); // TODO: do better;
    align-items: center;

    p,
    h1 {
      color: #fff;
    }

    .byline {
      text-align: center;
      a {
        color: #fff;
      }
    }

    .pub-date {
      text-align: center;
    }
  }
}

.cover-caption {
  margin: 7px auto 60px;
  font-size: 15px;
  font-family: $georgia;
  color: #888;
  padding: 0 $gbody-padding / 2;
  line-height: 1.3;
  max-width: 1300px;
}

header {
  margin: 0 auto;
  padding: 36px 15px;

  p {
    margin: 0;
    font-family: $graphik;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

  #headline {
    margin: 50px 0 20px;
    font-size: 45px;
    line-height: 1.15;
    font-weight: 500;
    font-family: Playfair Display;
  }

  .deck {
    font-family: $graphik;
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 14px;
    text-align: center;
  }

  .byline {
    font-weight: 600;

    a {
      color: #121212;
    }
  }

  .pub-date {
    margin-bottom: 10px;
  }

  .inline-credits {
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  header #headline {
    font-size: 38px;
    margin-bottom: 10px;
  }
}

.inline-credits {
  margin: 0;

  span {
    display: block;
    font-weight: 600;
    font-family: $graphik;
    font-size: 16px;
    line-height: 26px;
  }

  a {
    color: #121212;
  }
}

.credits {
  margin-bottom: 30px;

  p {
    font-family: $graphik;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
  }

  p.date {
    font-weight: 400;
  }
}

/* Navbar */

#navbar {
  display: flex;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  transition-duration: $fade-transition-duration;
  box-shadow: $navbar-shadow;
}

#navbar.only-eye-logo {
  background: none;
  box-shadow: none;

  #nav-links {
    opacity: 0;
  }

  .hamburger-btn {
    opacity: 0;
    visibility: hidden;
  }
}

#eye-logo-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  z-index: 1;

  #eye-logo {
    width: 96px;
  }
}

#navbar.news-navbar {
  height: 46px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27);
}

#navbar.news-navbar.hide-news-navbar {
  height: 46px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27);
  opacity: 0;
}

#cds-logo-container {
  display: block;
  padding: 8px 0;
  margin: 0 auto;
  align-self: center;

  #cds-logo {
    height: 19px;
  }
}

.hamburger-btn {
  align-self: center;
  height: 18px;
  border: none;
  cursor: pointer;
  width: 18px;
  padding: 0;
  margin-right: 20px;
  display: none;
  background: none;
}

#navbar:not(.show-nav-links) {
  .hamburger,
  .hamburger-btn:after,
  .hamburger-btn:before {
    background-color: #111;
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
  }

  .hamburger-btn:after {
    content: "";
    display: block;
    margin-bottom: 0;
  }

  .hamburger-btn:before {
    content: "";
    display: block;
  }
}

#nav-links {
  flex: 1 1;
  display: flex;
  align-items: center;
  transition-duration: $fade-transition-duration;

  a {
    margin: 0;
    margin-left: 42px;
    font-family: $graphik;
    font-size: 14px;
    color: #121212;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Collapse navbar
@media (max-width: 760px) {
  #navbar {
    flex-direction: column;

    &.news-navbar {
      justify-content: center;
    }
  }

  #nav-links {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
      background: #fff;
      padding: 17px 0;
      margin-left: 0;
    }
  }

  #navbar.show-nav-links {
    .hamburger-btn {
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMC4yOSAxMi4zIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6Izk5OTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmljb24tY2xvc2U8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMC4zOSIgeTE9IjAuMzIiIHgyPSI5LjkiIHkyPSIxMS45OSIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjAuMzkiIHkxPSIxMS45OSIgeDI9IjkuOSIgeTI9IjAuMzIiLz48L2c+PC9nPjwvc3ZnPg==")
        no-repeat 50% content-box;
      background-size: 86% auto;
    }

    #navbar {
      box-shadow: none;
    }

    #nav-links {
      visibility: visible;
      opacity: 1;
      box-shadow: 0 -10px white,
        // White shadow to mask top box-shadow
          $navbar-shadow;
      flex: 1 0 auto;
    }

    #eye-logo-container {
      border-bottom: 1px solid #ddd;
      flex: 1 0 auto;
    }
  }

  #navbar.show-nav-links.only-eye-logo #eye-logo-container {
    border: none;
  }

  #eye-logo {
    width: 72px;
  }

  .hamburger-btn {
    display: block;
  }
}

.dinkus {
  text-align: center;
  height: 20px;
}

.image {
  margin: 30px auto 25px auto;

  img {
    width: 100%;
  }

  .image-caption-text {
    font-size: 15px;
    font-family: $georgia;
    color: #666;
    margin: 7px 0 0 0;
    padding: 0 $gbody-padding / 2;
    line-height: 1.3;

    .image-credit {
      color: #999;
    }
  }

  .overlay-container {
    position: relative;
  }

  .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);

    .caption-text-container {
      max-width: 960px;
    }

    .image-caption-text {
      color: #fff;
      font-size: 40px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 660px) {
  .image .image-overlay .image-caption-text {
    font-size: 25px;
  }
}

#overlay {
  transition-duration: 0.35s;
  opacity: 0;
}

.width-full-width {
  max-width: 1300px;
  padding: 0 $gbody-padding * 1.5;
}

.width-full-bleed {
  max-width: 100vw;

  .image-caption-text {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.width-auto {
  max-width: 600px;
}

// full-width image --> full-bleed image
@media (max-width: 767px) {
  .image {
    padding: 0 $gbody-padding;
  }
}

.graphic {
  margin: 30px auto;
}

.story-top .graphic:only-child {
  margin: 0;
}

.spectate-dev-footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.spectate-dev-footer:hover {
  opacity: 1;
}

.footer {
  margin-bottom: 60px;

  p {
    font-family: $graphik;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    line-height: 22px;
  }

  .article-credits {
    letter-spacing: 0.45px;
  }

  .article-credits::before {
    display: block;
    content: " ";
    width: 100px;
    height: 1px;
    background-color: #ccc;
    margin-top: 29px;
    margin-bottom: 30px;
  }
}
