<div class="footer g-body">
  <div class="article-credits">
    <each
      loop="item in (typeof footer === 'undefined' ? [] : footer.split('\n'))"
    >
      <p>{{{ item }}}</p>
    </each>
    <p>
      Produced by <a href="https://www.columbiaspectator.com/contributors/Hong-Sen-Du/">Hong Sen Du</a> with
      <a href="https://github.com/graphicsdesk/spectate">Spectate</a> by the
      <a href="https://graphicsdesk.github.io">Spectator Graphics</a> team. Hong Sen Du is a senior newsroom developer.
    </p>
  </div>
</div>
