@import 'styles/spectate';

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story, but keep navbar/footer
// @import 'styles/news-ellipsis-partial';
// Uncomment the next line to hide everything on a News page
// @import 'styles/news-ellipsis-full';

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}
