@import 'styles/spectate';

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

body {
  // Arc's overflow hidden on <body> messes up position sticky
  overflow-x: visible !important;
}

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}
