@import 'styles/spectate';

// Uncomment the next line if this project is an full-page Eye lead
// @import 'styles/eye-lead-ellipsis';
// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}
