/* These styles hide default site elements for the Eye lead page */

.pb-container {
    width: 100%;
    display: block;
}

.pb-f-eye-article-article-navbar,
.pb-f-eye-lead-template-feature-image-title,
.pb-f-eye-lead-template-eye-lead-leaderboad-ad {
    display: none;
}

#ver-in-article-ad-placement, #hor-in-article-ad-placement {
    display: none;
}

.tli-author {
    display: none;
}

.tli-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}

.tli-wrapper > p:nth-child(2) {
    margin: 0;
}

.pb-f-eye-lead-template-article-text .tli-wrapper img {
    margin: 0 !important;
}

.cover-hed header h1 {
    font-style: normal;
}
