<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ headline }}: {{ deck }}</title>
  <link rel="stylesheet" href="./styles.scss">
  <link rel="shortcut icon" href="https://www.columbiaspectator.com/pb/resources/img/CDS_Favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500&display=swap" rel="stylesheet">
</head>

<body>

  <include src="partials/navbar.html"></include>

  <if condition="USE_COVER_HED">    
    <include src="partials/header-cover.html"></include>
  </if>
  <else>
    <include src="partials/header.html"></include>
  </else>

  <div class="story">
    <each loop="item in body">
      <switch expression="item.type">
        <case n="'text'">
          <include src="partials/paragraph.html"></include>
        </case>
        <case n="'graphic'">
          <div class="graphic">
            <if condition="item.value.asset === 'linguistics-1.html'">
              <include src="linguistics-1.html"></include>
            </if>
            <elseif condition="item.value.asset === 'linguistics-2.html'">
              <include src="linguistics-2.html"></include>
            </elseif>
            <elseif condition="item.value.asset === 'linguistics-3.html'">
              <include src="linguistics-3.html"></include>
            </elseif>
          </div>
        </case>
      </switch>
    </each>
  </div>

  <div class="spectate-dev-footer">
    <a href="{{ DOC_URL }}" target="_blank">Doc</a>
  </div>

  <script src="./script.js"></script>

  <script type="text/javascript">
      (function() {
          // only want one resizer on the page
          if (document.documentElement.className.indexOf("g-resizer-v3-init") > -1) return;
          document.documentElement.className += " g-resizer-v3-init";
          // require IE9+
          if (!("querySelector" in document)) return;
          function resizer() {
              var elements = Array.prototype.slice.call(document.querySelectorAll(".g-artboard[data-min-width]")),
                  widthById = {};
              elements.forEach(function(el) {
                  var parent = el.parentNode,
                      width = widthById[parent.id] || parent.getBoundingClientRect().width,
                      minwidth = el.getAttribute("data-min-width"),
                      maxwidth = el.getAttribute("data-max-width");
                  widthById[parent.id] = width;
                  if (+minwidth <= width && (+maxwidth >= width || maxwidth === null)) {
                      el.style.display = "block";
                  } else {
                      el.style.display = "none";
                  }
              });
              try {
                  if (window.parent && window.parent.$) {
                      window.parent.$("body").trigger("resizedcontent", [window]);
                  }
                  if (window.require) {
                      require(['foundation/main'], function() {
                          require(['shared/interactive/instances/app-communicator'], function(AppCommunicator) {
                              AppCommunicator.triggerResize();
                          });
                      });
                  }
              } catch(e) { console.log(e); }
              if (window.innerWidth <= 460 && window.innerWidth >= 360) {
                console.log('hi');
                document.getElementById('g-linguistics-1-300').style.maxWidth = '360px';
                document.getElementById('g-linguistics-2-300').style.maxWidth = '360px';
                document.getElementById('g-linguistics-3-300').style.maxWidth = '360px';
              }
          }
          document.addEventListener('DOMContentLoaded', resizer);
          // feel free to replace throttle with _.throttle, if available
          window.addEventListener('resize', throttle(resizer, 200));        
          function throttle(func, wait) {
              // from underscore.js
              var _now = Date.now || function() { return new Date().getTime(); },
                  context, args, result, timeout = null, previous = 0;
              var later = function() {
                  previous = _now();
                  timeout = null;
                  result = func.apply(context, args);
                  if (!timeout) context = args = null;
              };
              return function() {
                  var now = _now(), remaining = wait - (now - previous);
                  context = this;
                  args = arguments;
                  if (remaining <= 0 || remaining > wait) {
                      if (timeout) {
                          clearTimeout(timeout);
                          timeout = null;
                      }
                      previous = now;
                      result = func.apply(context, args);
                      if (!timeout) context = args = null;
                  } else if (!timeout && options.trailing !== false) {
                      timeout = setTimeout(later, remaining);
                  }
                  return result;
              };
          }
         
      })();

      setTimeout(() => {

    }, 1000);
  </script>
</body>

</html>
