<div id="navbar">
  <div class="logo-container">
    <a href="https://www.columbiaspectator.com/eye">
      <img id="eye-logo" src="https://spectator-static-assets.s3.amazonaws.com/eye-logo-black.png" />
    </a>
    <button onclick="script.hamburgerTrigger()" class="hamburger-btn">
      <div class="hamburger"></div>
    </a>
  </div>
  <div id="nav-links">
    <each loop="item in [
      {
        name: 'Leads',
        link: 'http://columbiaspectator.com/eye/lead',
      },
      {
        name: 'Features',
        link: 'http://columbiaspectator.com/eye/features',
      },
      {
        name: 'View From Here',
        link: 'http://columbiaspectator.com/eye/view-from-here',
      },
      {
        name: 'The Ear',
        link: 'http://columbiaspectator.com/eye/the-ear',
      },
      {
        name: 'Eyesights',
        link: 'http://columbiaspectator.com/eye/eyesights',
      },
    ]">
      <a href="{{ item.link }}">{{ item.name }}</a>
    </each>
  </div>
</div>
